p {
    color: red;
}

h1 {
    color: red;
}

h2 {
    color: red;
}


body {
    background-color: black;
}

ul {
    color: red;
}

ul2 {
    color: black;
}

section {
    background-color: red;
    color: black;
    padding: 20px 50px;
    
}

hr {
    color: blue;
}